/*all pages*/

.dropbtn {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	background-color: transparent;
	text-shadow:
   -1px -1px white,  
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
	padding: 18px;
    border: none;
    cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline;
}

.dropdown-content {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 24px;
	text-decoration: none;
    display: none;
    position: absolute;
    overflow: auto;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: gray
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(0,75,150,0.4);
}



      /* front page */

h1 {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 200px;
    text-shadow:
   -1px -1px white,  
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
    text-align: center;
}

.front-background {
	    background-image: url("https://user-images.githubusercontent.com/32267807/31503215-c1883d5e-af77-11e7-80ae-2ef80df1ad84.jpg");
        background-repeat: no-repeat;
        background-size: 100%;  
}



/* posts */

h2 {
	font-family: "Shadows Into Light", sans-serif;
    font-size: 75px;
    text-shadow:
   -1px -1px white,  
    1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
    text-align: center;
    padding: 25px;
}
	
.h2-background {
	background-image: url("https://user-images.githubusercontent.com/32267807/32178382-37a950f6-bd95-11e7-982e-5043401abb2a.jpg");
    background-repeat: no-repeat; 
    background-size: 100%  
}

h4 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 75;
	text-align: center;
}

.p-1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	margin: 100px;
}

a.class2:link {
    color: blue;
    text-decoration: none;
}

a.class2:visited {
    color: purple;
}

a.class2:hover {
    color: gray;
}

a.class2:active {
    color: black;
}

.class2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
}


body {
	background-color: rgba(0,75,150,0.4);
}


.post-landscape {
 	max-width: 50%;
 	height: auto;
	margin-left: 65px;
	padding: 0px;
	border: 20px solid black;

 }

 .post-portrait {
 	max-width: 28%;
 	height: auto;
	margin-left: 65px;
	padding: 0px;
	border: 20px solid black;

 }
 
#lists {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	background-color: white; 
	margin: 100px;
    padding: 30px;
  	border:20px solid black;
}


/* gallery */


.landscape {	
	max-width: 45%;
	height: auto;
	margin: 40px;
	padding: 0px;
	border: 20px solid black;

}

.portrait {
	max-width: 30%;
	height: auto;
	margin: 25px;
	padding: 0px;
	border: 20px solid black;
}
/* about me */ 

.about-background {
	background-image: url("https://user-images.githubusercontent.com/32267807/32007988-c56f0498-b9b3-11e7-88a3-d84077045a2e.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;  
}

h3 {
	font-family: "Shadows Into Light", cursive, sans-serif;
	font-size: 38px;
	border-top: 50px;
	margin-top: 50px;

}

.p1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	position: right;
	margin: 20px;
}


.profile {
	max-width: 400px;
	max-height: 900px;
	float: left;
	margin: 30px;
	padding: 0px;
	border: 20px solid black;

} 




